name: Test Action

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: My Action
        id: work
        uses: dev4dev/test-action@master
        with:
          name: Sponge Bob
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Get Output
        run: echo ${{ steps.work.outputs.poop }}
    